
Introduction to Operating Systems/Assign1/Makefile
Introduction to Operating Systems/Assign1/Readme.txt
Introduction to Operating Systems/Assign1/simple-execute.c
Introduction to Operating Systems/Assign1/simple-execute.o
Introduction to Operating Systems/Assign1/simple-shell.c
Introduction to Operating Systems/Assign1/simple-shell.o
Introduction to Operating Systems/Assign1/SimpleShell
Introduction to Operating Systems/lab-01/example/hellofunc.c
Introduction to Operating Systems/lab-01/example/hellofunc.o
Introduction to Operating Systems/lab-01/example/hellomake.c
Introduction to Operating Systems/lab-01/example/hellomake.h
Introduction to Operating Systems/lab-01/example/hellomake.o
Introduction to Operating Systems/lab-01/example/Makefile1
Introduction to Operating Systems/lab-01/example/Makefile2
Introduction to Operating Systems/lab-01/exercise/bar/bar.c
Introduction to Operating Systems/lab-01/exercise/fb
Introduction to Operating Systems/lab-01/exercise/foo/foo.c
Introduction to Operating Systems/lab-01/exercise/include/foobar.h
Introduction to Operating Systems/lab-01/exercise/lab1
Introduction to Operating Systems/lab-01/exercise/main.c
Introduction to Operating Systems/lab-01/exercise/main.o
Introduction to Operating Systems/lab-01/exercise/Makefile
Introduction to Operating Systems/lab-02/example/example1.c
Introduction to Operating Systems/lab-02/example/example2.c
Introduction to Operating Systems/lab-02/example/example3.c
Introduction to Operating Systems/lab-02/example/example4.c
Introduction to Operating Systems/lab-02/exercise/exercise.c
Introduction to Operating Systems/lab-02/exercise/input - Copy.txt
Introduction to Operating Systems/lab-02/exercise/input.txt
Introduction to Operating Systems/lab-02/exercise/lab02
Introduction to Operating Systems/lab-02/exercise/Makefile
Introduction to Operating Systems/lab-02/exercise/output.txt
Introduction to Operating Systems/Lab-03-Prog/HD
Introduction to Operating Systems/Lab-03-Prog/superblock-test
Introduction to Operating Systems/Lab-03-Prog/superblock-test.c
Introduction to Operating Systems/Lab-03-Prog/superblock.c
Introduction to Operating Systems/Lab-03-Prog/superblock.h
Numerical Optimization/Homework/Assignment 2/problem4.py
Numerical Optimization/Homework/Assignment 1/PDF/summary.synctex.gz
Numerical Optimization/Homework/Assignment 1/PDF/summary.pdf
Numerical Optimization/Homework/Assignment 1/PDF/homework1.synctex.gz
Numerical Optimization/Homework/Assignment 1/PDF/homework1.pdf
Numerical Optimization/Homework/Assignment 1/PDF/homework1.out
Numerical Optimization/Homework/Assignment 1/PDF/homework1.log
Numerical Optimization/Homework/Assignment 1/PDF/homework1.fls
Numerical Optimization/Homework/Assignment 1/PDF/homework1.fdb_latexmk
Numerical Optimization/Homework/Assignment 1/PDF/homework1.aux
Numerical Optimization/Homework/Assignment 1/homework1.tex
Numerical Optimization/Homework/Assignment 1/homework1.jpeg
Introduction to Operating Systems/.vscode/settings.json
